<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>TokenRenew\TokenRenew</fullnamespace>
    <descriptive locale="en_US">
        <title>Token renewal</title>
        <description>Renew the form.secret config parameter used for generating the CSRF token</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Renouvellement du token</title>
        <description>Renouvelle le token de la config form.secret utilisé par les formulaires</description>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>0.1</version>
    <author>
        <name>Manuel Raynaud</name>
        <email>manu@thelia.net</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>